.container {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background-color: #131823;
}

.wrapper {
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #17CFC4;
}

.title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #1E202C;
}

.content {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
  color: #1E202C;
  word-wrap: break-word;
}